{% extends 'base.html' %}

{% block title %}{% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} заказа{% endblock %}

{% block content %}
<h1>{% if form.instance.pk %}Редактирование заказа{% else %}Создание заказа{% endif %}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="{% if form.instance.pk %}{% url 'order_detail' pk=form.instance.pk %}{% else %}{% url 'order_list' %}{% endif %}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}